.aze,.Russia,.ban,.sen,.ngr,.sri,.uga,.ukr,.sie,.bot,.pan,.con,.tan,.mad,.mya,.ecu,.cot,.zam,.gha,.eth{
    cursor:pointer;
}
#Azerbaijan:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Bangladesh:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Russia:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Uganda:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Ukraine:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Sri-Lanka:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Sierra-leone:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Botswana:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Panama:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Nigeria:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Congo:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Tanzania:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Madagascar:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Myanmar:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Ecuador:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Cote-di-vuar:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Zambia:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Senegal:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}
#Ghana:hover{
    fill: $primary-color !important;
    cursor:pointer;
}
#Ethiopia:hover{
    fill: $secondary-color !important;
    cursor:pointer;
}